.menu__item {
  width: 100%;
  padding: 2rem;
}
.item__title {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 0.9rem;
}
.item__description {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.25rem;
}
.item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  border: 2px solid #f89a76;
  font-weight: 700;
}

@media (max-width: 768px) {
  .menu__item {
    width: 100%;
    padding: 0 1rem;
  }
}
