.footer__column {
  width: 8rem;
  height: 15rem;
  border: 1px solid black;
}
.footer__column__header {
  text-transform: uppercase;
  color: var(--primary-color);
}
.column__list__items {
  justify-content: space-evenly;
  padding: 0;
  color: rgba(255, 255, 255, 0.551);
  font-weight: 400;
  font-size: 0.8rem;
}
.column__item {
  list-style-type: none;
  margin: none;
  margin-bottom: 1rem;
}
.footer__social__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 3;
  border: 1px solid black;
  bottom: 0;
  right: 0;
}

.footer__social__icons li {
  list-style-type: none;
  display: inline;
  margin-left: 1rem;
}
