.footer__column {
  width: 8rem;
}
.footer__column__header {
  text-transform: uppercase;
  color: var(--primary-color);
}
.column__list__items {
  justify-content: space-evenly;
  padding: 0;
  color: rgba(255, 255, 255, 0.551);
  font-weight: 400;
  font-size: 0.8rem;
}
.column__item {
  list-style-type: none;
  margin: none;
  margin-bottom: 1rem;
}
