.community__section {
  width: 100vw;
  padding: 5rem 0;
}

.community__header__wrapper {
  padding-left: 5rem;
}

.community__title__text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.community__section__row {
  width: 100vw;
  display: flex;
  margin: 1rem;
}

.community__section__row:nth-of-type(even) {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .row {
    width: 100vw;
    height: 30vh;
    display: flex;
    margin-top: 1rem;
  }
}
