.community-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.community-message {
  width: 9rem;
}

.community-message h2 {
  text-transform: uppercase;
}

.box {
  width: 6rem;
  height: 4rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  transform: translateX(400%);
  transition: transfotm 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translate(-400%);
}

.box .show {
  transform: translateX(0);
  color: red;
}
.show {
  transform: translateX(0);
  color: red;
}

/* //////////////////////////////// */

/* .box {
  width: 6rem;
  height: 4rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  transform: translateX(400%);
  transition: transfotm 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translate(-400%);
}

.box .show {
  transform: translateX(0);
  color: red;
}
.show {
  transform: translateX(0);
  color: red;
} */
