.recipes__section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.recipes__header__wrapper {
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.recipes__horizontal__scroll {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
}
.recipes__horizontal__scroll::-webkit-scrollbar {
  display: none;
}
