.recipes__section {
  height: 100vh;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
}
.recipes__header__wrapper {
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.recipes__title {
  text-transform: uppercase;
  text-decoration: lin;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
}
.recipes__title__line__through {
  position: relative;
  z-index: 1;
}
.recipes__title__line__through:before {
  border-top: 4px solid #f89a76;
  content: "";
  position: absolute;
  top: 17px;
  width: 110%;
  z-index: -1;
}
.recipes__button {
  border: none;
  background-color: #f89a76;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
}
.recipes__horizontal__scroll {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.recipes__horizontal__scroll::-webkit-scrollbar {
  display: none;
}
/* .arrows-container {
  display: inline-block;
} */
