.card__community {
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
  padding: 1rem;
  margin: 0 7rem;
  transition: all 0.5sec;
}

.card__img__wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.card__instagram__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  padding: 3px;
}

.card__message__wrapper {
  width: 50%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.card__title {
  font-weight: 600;
}
.card__icon_wrapper {
  width: 100%;
  display: flex;
  align-content: flex-end;
  position: relative;
}
.card__social__icon {
  font-size: 0.8rem;
  margin-right: 0.9rem;
}

img {
  height: 100%;
  width: auto;
}

@media (max-width: 768px) {
  .card_text {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .card__community {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .card__img__wrapper {
    width: 100%;
  }
  .card__message__wrapper {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
