.card__recipe {
  width: 17rem;
}

.recipe__img__wrapper {
  width: 100%;
  height: 15rem;
  display: flex;
  position: relative;
}

.recipe__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.recipe__servings__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  padding: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.288);
  text-align: center;
}
.recipe__arrow__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  background-color: var(--primary-color);
  bottom: 0;
  right: 0;
}
.recipe__text__wrapper {
  padding: 1rem;
}

.recipe__difficulty {
  color: rgb(190, 186, 186);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}

.recipe__title {
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.recipe__text {
  color: rgb(167, 164, 164);
  font-size: 0.9rem;
}
.recipe__servings__wrapper div span {
  font-size: 1.5rem;
}
