.menu-section {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.menu-section h2 {
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  z-index: 1;
}

.menu-section h2:before {
  border-top: 4px solid #f89a76;
  content: "";
  position: absolute;
  top: 17px;
  width: 110%;
  z-index: -1;
}
.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-header button {
  margin-left: auto;
  margin-right: auto;
}
.type {
  text-transform: uppercase;
  font-size: 2rem;
  height: 4rem;
  letter-spacing: -2px;
}
.main-content {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 0.5rem;
  margin: 0.5rem 0; */
}
