@font-face {
  font-family: "GillSans";
  src: url("../src/Fonts/GillSans.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: url("../src/Fonts/DIN\ Condensed\ Bold.ttf") format("ttc");
  font-weight: bold;
  font-style: bold;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "DIN Condensed Bold";
  font-family: "GillSans"; */
}
.section__title {
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-size: var(--font-size-XL);
  font-weight: 700;
}

.title__line__through {
  position: relative;
  z-index: 1;
}

.title__line__through:before {
  border-top: 4px solid var(--primary-color);
  content: "";
  position: absolute;
  top: 17px;
  width: 110%;
  z-index: -1;
}

.main__button {
  border: none;
  background-color: var(--primary-color);
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
}
