@font-face {
  font-family: "GillSans";
  src: url("../src/Fonts/GillSans.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: url("../src/Fonts/DIN\ Condensed\ Bold.ttf") format("ttc");
  font-weight: bold;
  font-style: bold;
}
body {
  margin: 0;
}

:root {
  --primary-color: #f89a76;
  --font-size-XL: 2rem;
  font-family: "GillSans";
}
