.banner__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(177, 132, 132, 0.8),
      rgba(170, 165, 148, 0.8)
    ),
    url(../../Assets/bannerImg2.jpg);

  background-size: cover;
  background-position: top;
  color: white;
}

.banner__header__wrapper {
  text-align: center;
  text-transform: uppercase;
}
.benner__title__sub {
  letter-spacing: 0.5rem;
}

.benner__title__main {
  display: block;
  font-size: 3.75rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.benner__title__location {
  font-size: 1.25rem;
  font-weight: 500;
}
